<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

    <title>Starter Template for Bootstrap</title>
    
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" type="text/css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen" type="text/css"/>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">Project name</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="container">
		<form class="form-horizontal" th:object="${mahasiswa}" th:action="@{/mhs/create}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{version}" />
			<div class="form-group">
				<label class="col-sm-2 control-label">NIM:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{nim}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Nama:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{nama}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Jurusan:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{jurusan}" />
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Simpan</button>
			</div>
		</form>

	</div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->    
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{js/jquery.js}"></script>        
    <script th:src="@{js/bootstrap.js}"></script>    
    <script th:src="@{js/ie10-viewport-bug-workaround.js}"></script>
  </body>
</html>
