<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

    <title>Starter Template for Bootstrap</title>
    
    <link th:href="@{../css/bootstrap.css}" rel="stylesheet" media="screen" type="text/css"  href="../css/bootstrap.css"/>

    <!-- Custom styles for this template -->
    <link th:href="@{../css/starter-template.css}" rel="stylesheet" media="screen" type="text/css"/>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">Project name</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="container">
    	<h3>Mahasiswa</h3>
    	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#tambah">Tambah Mahasiswa</button>
		<!-- Modal -->
		<div id="tambah" class="modal fade" role="dialog">
		  <div class="modal-dialog">		
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Form Mahasiswa</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal" th:object="${mhs}" th:action="@{/mhs/create}" method="post">
		        	<input type="hidden" th:field="*{id}"/>
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">NIM:</label>
		        		<div class="col-sm-10">
		        			<input type="text" class="form-control" th:field="*{nim}"/>
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">Nama:</label>
		        		<div class="col-sm-10">
		        			<input type="text" class="form-control" th:field="*{nama}"/>
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<label class="col-sm-2 control-label">Jurusan:</label>
		        		<div class="col-sm-10">
		        			<input type="text" class="form-control" th:field="*{jurusan}"/>
		        		</div>
		        	</div>
		        	<div class="form-group">
		        		<button type="submit" class="btn btn-default">Simpan</button>
		        	</div>
		        </form>
		      </div>
		    </div>		
		  </div>
		</div>
		
    	<div th:if="${not #lists.isEmpty(mahasiswa)}">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>NIM</th>
			        <th>Nama</th>
			        <th>Jurusan</th>		  
			        <th>Opsi</th>      
			      </tr>
			    </thead>
			    <tbody>
			      <tr th:each="mhs : ${mahasiswa}">
			        <td th:text="${mhs.nim}"></td>
			        <td th:text="${mhs.nama}"></td>
			        <td th:text="${mhs.jurusan}"></td>
			        <td>
			        	<div class="btn-group">
			        		<a th:href="${'/mhs/edit/'+mhs.id}" class="btn btn-primary" >Edit</a>
			        		<a th:href="${'/mhs/hapus/'+mhs.id}" class="btn btn-danger" >Hapus</a>
			        	</div>			        	
			        </td>
			        
			      </tr>		      
			    </tbody>
			  </table>			  			
		  </div>
		  <p th:if="${#lists.isEmpty(mahasiswa)}">Data belum ada</p>     
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->    
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{js/jquery.js}"></script>        
    <script th:src="@{js/bootstrap.js}"></script>    
    <script th:src="@{js/ie10-viewport-bug-workaround.js}"></script>
  </body>
</html>
